.navLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #1b1a1a;
  font-size: 18px;
}

.navLink:hover {
  scale: 1.1;
}

.active {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #f513cf;
  font-size: 18px;
}
